# Origem da API Backend (sem /api no fim — o código acrescenta /api automaticamente)
VITE_API_URL=http://localhost:3001

# Nome da aplicação
VITE_APP_NAME=YevaTrade

# Ambiente
VITE_APP_ENV=development
